spring:
  application:
    name: task-service

  datasource:
    url: jdbc:postgresql://localhost:5432/taskDB
    username: postgres
    password: Mklj2419
  docker:
    compose:
      enabled: false

server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: health